/*navigation bar*/
body {
margin: 0;
  font-family: Arial, Helvetica, sans-sherif;
}
.topnav {
  /*background-color: #221C5A;*/
  background-color: #00e677;
  padding: 15px 15px;
  overflow: hidden;
  }
  
.topnav a {
    float: middle;
    color: #00994f;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 12px;
  }
  
  .topnav a:hover {
    color: white;
  }
  
  .topnav a.active {
    color: white;
  }
