/*navigation bar*/


.topnav {
  /*background-color: #221C5A;*/
  
  background-color: #ff4d4d;
  padding: 25px 25px;
  overflow: auto;
  }
  
.topnav a {
    float: top;
    color: #800000;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 12px;
    z-index: 99;
  }
  
  .topnav a:hover {
    color: white;
  }
  
  .topnav a.active {
    color: white;
  }

 
  
  .bgimg{
    /* The image used 
    background-image: url("Capture.PNG");

    /* Set a specific height
    */

    /* Create the parallax scrolling effect 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    
    padding-bottom: 170px;
    min-height: calc(100vh - 170px);
    /*background-color: #221c5a; */
    background-image:url(gif1.gif); 
    background-repeat: repeat; 
    background-position: center top; 
    background-size: cover;
    z-index: 999;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto; 
}

#about{
 font-family: 'Neucha', cursive;
 color: black;
 font-size: 40px;
 z-index: 10;
}

.gif2{
    padding-bottom: 170px;
    min-height: calc(100vh - 170px);
    /*background-color: #221c5a; */
    background-image: url(gif2.gif); 
    background-repeat: repeat; 
    background-position: center; 
    background-size: cover;
    z-index: 50;
    max-width: 100%;
    max-height: 75%;
    width: auto;
    height: auto; 
}

